<script src="~/Scripts/album.js"></script>
<div class="col-md-12"><div id="search-left" class="col-md-3">
    <div class="view_search">
        <div class="head">Search</div>
        <div class="form">
            <div  id="view-profile-by-id" >
                <input type="text" id="txtSearch" placeholder="name or title">
                <input type="submit" value="VIEW" id="btnSearch">
            </div>
        </div>
    </div>
    <div class="clear10"></div></div>
    <div id="search-main" class="col-md-9">

       
    </div></div>



